@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  background-color: #edeeee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: 'Montserrat', sans-serif;
}
.list {
  flex-basis: 25vw;
}
@media only screen and (max-width: 768px) {
  .list {
      display: none;
  }
}